<!DOCTYPE html>
<html>
<head>
  <title>Artist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
	<h2><%= link_to "Sign out", destroy_user_session_path, method: 'delete' %></h2>
<% elsif current_admin %>
	<h2><%= link_to "Sign out", destroy_admin_session_path, method: 'delete' %></h2>
<% end %>

<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>

<%= yield %>

</body>
</html>
